* {
    box-sizing: border-box;
}

:host(booklib-footer) {
    grid-area: -1 / 1 / -2 / -1;
}

footer {
    background-color: #E1EBEE;
    padding: 1rem;
    line-height: 1.1;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    gap: 1rem;
}

footer>.footer-subscribe {
    /*place-self: center;*/
    text-align: center;
    background-color: #E1EBEE;
}

footer>.footer-subscribe>form {
    padding: .5rem;
}

footer>.footer-subscribe>form>input[type='submit'] {
    cursor: pointer;
    color: #2E5090;
    background-color: #b9d9eb;
    border: 2px solid #367588;
}

input[type='submit']:disabled {
    filter: grayscale(1);
}

footer>.footer-misc {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: .5rem;
}

footer>.footer-misc>#address,
#anchors {
    flex: 0 1 300px;
}

footer>.footer-misc>#disclaimer {
    flex: 1 1 300px;
}

footer>.footer-misc>#anchors {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: .5rem;
}

/* footer > .footer-misc >  #anchors{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    grid-template-rows: repeat(4,1fr);
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    gap: 0.5rem;
} */
footer>.footer-misc>#anchors>a {
    color: #2E5090;
    text-decoration: none;
}

@media (hover:hover) {
    #anchors>a:hover {
        filter: drop-shadow(0 0 5px #00CC99);
    }
}